body { height: 100%; color:  #220800; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
html { 
    background: url(ozadje.png) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
a {
	color:  #220800;
}
/* display table */
.forma  { 
	display: table; 
	table-layout: fixed;
	width: 100%;
}
.p_forma { 
	display: table-row;
	height: 25px;
}
.l_forma, .i_forma { 
	display: table-cell; 
	padding-left: 5px;
	height: 25px;
}
/* display other stuff */
.neviden {
    display: none !important;
}
.inliner {
	display: inline-block;
}
/* colors */
.color_dvio, .neaktivn {
	background-color: #84739a;
}
.color_vio, .aktiven, .div_button:hover {
	background-color: #cbb7c3; 
}
.color_lvio, .div_buttonL:hover {
	background-color: #e9dcd8; 
}
.color_yel {
	background-color: #f5e5bc; 
}
.color_bro {
	background-color: #ceb4a1; 
}
/* cursor stuff */
.div_button, .div_buttonL {
	cursor: pointer;
}
/* margins, paddings */
.pad_r10 {
	padding-right: 10px;
}
.mar_r20l20 {
	margin-left: 20px;
	margin-right: 20px;
}
/* toggle stuff */
#toggle, #toggle2 {
	z-index: 3;
	position: fixed;
	cursor: pointer;
	display: block;
	width: 28px;
	height: 30px;
	margin: 10px;
}
#toggle {
	left: 10px;
	top: 15px;
}
#toggle2 {
	right: 10px;
	top: 0px;
}
#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0px;
	top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
	position: relative;
	display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #000;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}
#toggle.acti span {
	background-color: transparent;
}
#toggle.acti span:before {
	transform: rotate(45deg) translate(5px, 5px);
}
#toggle.acti span:after {
	transform: rotate(-45deg) translate(7px, -8px);
}
#menu, #menu2 {
	position: fixed;
	color:  #220800;
	width: 200px;
	padding: 10px;
	top: 56px;
	font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;  
	background: #84739a;
	display: none;
	z-index: 3;
}
#menu {
	left: 10px;
}
#menu2 {
	right: 10px;
}


#pop {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}

img#close {
position:absolute;
right: 5px;
top: 5px;
cursor:pointer;
background-color: #84739a;
height: 20px;
width: 20px;
}

div#popups {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}

form {
max-width:350px;
min-width:250px;
padding:10px 50px;
}
input {
	font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}