body {background:  #f5e5bc; color:  #220800; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }

.neviden {
    display: none !important;
}

.color_dvio, .neaktivn {
	background-color: #84739a;
}
.color_vio, .aktiven, .div_button:hover {
	background-color: #cbb7c3; 
}
.color_lvio, .div_buttonL:hover {
	background-color: #e9dcd8; 
}
.color_yel {
	background-color: #f5e5bc; 
}
.color_bro {
	background-color: #ceb4a1; 
}

.div_button, .div_buttonL {
	cursor: pointer;
}

#toggle, #toggle2 {
	z-index: 3;
	position: fixed;
	cursor: pointer;
	display: block;
	width: 28px;
	height: 30px;
	margin: 10px;
}
#toggle {
	left: 10px;
	top: 15px;
}
#toggle2 {
	right: 10px;
	top: 0px;
}

#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0px;
	top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
	position: relative;
	display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #000;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}
#toggle.acti span {
	background-color: transparent;
}
#toggle.acti span:before {
	transform: rotate(45deg) translate(5px, 5px);
}
#toggle.acti span:after {
	transform: rotate(-45deg) translate(7px, -8px);
}
#menu, #menu2 {
	position: fixed;
	color:  #220800;
	width: 200px;
	padding: 10px;
	top: 56px;
	font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;  
	background: #84739a;
	display: none;
	z-index: 3;
}
#menu {
	left: 10px;
}
#menu2 {
	right: 10px;
}